{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="login100-form validate-form flex-sb flex-w">
  <span class="login100-form-title p-b-53">
			Sign Out
	</span>
 <p>{% trans 'Are you sure you want to sign out?' %}</p>

</div>
 
<form method="post" class="login100-form validate-form flex-sb flex-w" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  
  <div class="container-login100-form-btn m-t-17">
			<button type="submit" class="login100-form-btn" >			
				Sign Out
			</button>
		</div>
</form>


{% endblock %}
