{% extends 'base.html' %}
{% block title %}
Restaurant
{% endblock title %}
{% block heading_title %}
{% endblock heading_title %}


{% block sidebar %}
    <div class="text-center">
        <img class="rounded-circle" src="{{ MEDIA_URL }}{{ request.user.restaurant.logo }}" width="70" height="70">
    </div>
    <br/>
    <br/>
    <h4>Hi, {{request.user.get_full_name}}</h4>
    <h5>{{request.user.restaurant.name}} </h5>
    <a href="{% url 'foodapp:restaurant-account' %}"> Account </a>
    <a href="{% url 'foodapp:restaurant-meal' %}"> Meal </a>
    <a href="{% url 'foodapp:restaurant-order' %}"> Order </a>
    <a href="{% url 'foodapp:restaurant-report' %}"> Report </a>
    
{% endblock sidebar %}

 

 

